.drawerHidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawerOpen {
  position: fixed;
  left: calc(var(--app-width) - 76px);
  top: 16px;
  z-index: 100;
  cursor: pointer;
  /* アイコンのサイズを調整 */
  display: inline-flex; /* or block */
  width: 60px; /* お好みの幅 */
  height: 60px; /* お好みの高さ */
  align-items: center; /* span を中央寄せ */
  justify-content: center;
  mix-blend-mode: difference;
}

/* ハンバーガーメニューのアイコン */
.drawerOpen span,
.drawerOpen span:before,
.drawerOpen span:after {
  content: "";
  display: block;
  height: 1px;
  width: 25px;
  border-radius: 3px;
  background: #b3b9bf;

  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawerOpen span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawerOpen span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
.nav > input:checked ~ .drawerOpen span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
.nav > input:checked ~ .drawerOpen span::before {
  bottom: 0;
  transform: rotate(45deg);
}

.nav > input:checked ~ .drawerOpen span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.navContent {
  width: var(--app-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgb(252, 250, 246);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
}

.navContentInner {
  position: relative;
  z-index: 1;
  padding-left: 48px;
  padding-top: 80px;
}

/* メニュー黒ポチを消す */
.navList {
  list-style: none;
  font-size: 32px;
  line-height: 2;
}

/* アイコンがクリックされたらメニューを表示 */
.nav > input:checked ~ .navContent {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
